<div class="row">    
  <div class="col-xs-3 col-xs-offset-4 panel text-center">
    Add a book
    <form name ="addBookForm" action="/api/books" method="post">
      Title: <input name="title" id="title"/><br/><br/>
      Author: <input name="author" id="author"/><br/><br/>
      Book ID: <input name="bookId" id="bookId"/><br/><br/>
      <input type="submit" value="Create"/>
    </form>
  </div>
</div>